<mat-form-field [ngClass]="getClasses()" appearance="outline" >
    <mat-label>{{ label | translate }} {{ labelDetails | translate }}</mat-label>
    <input matInput type="text" [formControl]="formController" [attr.cdkFocusInitial]="focused ? '' : null" name="{{ name }}" type="{{ type }}" title="{{ title }}" required="{{ required }}" autocomplete="off">
    <mat-error *ngIf="formController.invalid"></mat-error>
    <button *ngIf="suffix" mat-button matSuffix mat-icon-button class="thy-suffix-button" (click)="onSuffix($event)">
        <mat-icon class="thy-suffix-icon">{{ suffix }}</mat-icon>
    </button>
    <button *ngIf="showDeleteSuffix" mat-button matSuffix mat-icon-button class="thy-suffix-button" (click)="onDelete()">
        <mat-icon class="thy-suffix-icon">close</mat-icon>
    </button>
</mat-form-field>