<!-- <div id="datetime-picker-container" [class]="class" [ngStyle]="style" matTooltip="{{ tooltipText | translate }}" matTooltipPosition="{{ tooltipPosition }}">
    <mat-form-field class="thy-form-field ui-g-12" appearance="outline"  [floatLabel]="floatLabel" >
        <mat-label>{{ label | translate }}</mat-label>
        <input [value]="value" (change)="onDateChange($event.target.value)" type="datetime-local" (dateChange)="onDateChange($event)">
    </mat-form-field>
</div> -->

<mat-form-field [class]="class" [ngStyle]="style" matTooltip="{{ tooltipText | translate }}" matTooltipPosition="{{ tooltipPosition }}" appearance="outline" >
    <mat-label>{{ label | translate }} {{ labelDetails | translate }}</mat-label>
    <input matInput [value]="value" (ngModelChange)="onDateChange($event)" (change)="onDateChange($event.target.value)" [placeholder]="placeholder | translate" [disabled]="disabled" [required]="required" [name]="name" type="datetime-local" [title]="title" autocomplete="off"/>
</mat-form-field>
