
<thy-dialogs-layout [title]="'@global-period'" (validate)="validate()" (close)="close()">

  <!-- Period -->
  <thy-form-field-select label="@global-beginning" [(value)]="period.Start" [options]="startOptions" (valueChange)="update()" name="period-start"></thy-form-field-select>

  <!-- Offset 1 -->
  <thy-form-field-input label="@global-offset" [class]="'ui-g-4'" [(value)]="period.Offset.Value" (valueChange)="update()" name="period-offset" [type]="'number'"></thy-form-field-input>


  <thy-form-field-select label="@global-offset" [class]="'ui-g-8'" [(value)]="period.Offset.Unit" [options]="offsetOptions" (valueChange)="update()" name="period-offsetUnit"></thy-form-field-select>

  <!-- Offset 2 -->
  <thy-form-field-input label="@global-secondOffset" [class]="'ui-g-4'" [(value)]="period.Offset2.Value" (valueChange)="update()" name="period-offset2" [type]="'number'"></thy-form-field-input>
  <!-- <mat-form-field class="ui-g-4">
    <input matInput type="number" placeholder="{{'@global-secondOffset' | translate}}" [(ngModel)]="period.Offset2.Value" (ngModelChange)="update()" name="period-offset2">
  </mat-form-field> -->
  <thy-form-field-select label="@global-secondOffset" [class]="'ui-g-8'" [(value)]="period.Offset2.Unit" [options]="offsetOptions" (valueChange)="update()" name="period-offsetUnit2"></thy-form-field-select>
  <!-- <mat-form-field class="ui-g-8">
    <mat-select placeholder="{{ '@global-secondOffset' | translate }}" [(ngModel)]="period.Offset2.Unit" (ngModelChange)="update()" name="period-offsetUnit2">
      <mat-option [value]="0">{{ '@offset-none' | translate }}</mat-option>
      <mat-option [value]="3">{{ '@global-hours' | translate }}</mat-option>
      <mat-option [value]="4">{{ '@global-days' | translate }}</mat-option>
      <mat-option [value]="5">{{ '@global-weeks' | translate }}</mat-option>
      <mat-option [value]="6">{{ '@global-months' | translate }}</mat-option>
      <mat-option [value]="7">{{ '@global-years' | translate }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- Duration -->
  <thy-form-field-input label="@global-duration" [class]="'ui-g-4'" [(value)]="period.Duration.Value" (valueChange)="update()" name="period-duration" [type]="'number'"></thy-form-field-input>
  <!-- <mat-form-field class="ui-g-4">
    <input matInput type="number" placeholder="{{ '@global-duration' | translate }}" [(ngModel)]="period.Duration.Value" (ngModelChange)="update()" name="period-duration">
  </mat-form-field> -->
  <thy-form-field-select label="@global-duration" [class]="'ui-g-8'" [(value)]="period.Duration.Unit" [options]="durationOptions" (valueChange)="update()" name="period-durationUnit"></thy-form-field-select>
  <!-- <mat-form-field class="ui-g-8">
    <mat-select placeholder="{{ '@global-duration' | translate }}" [(ngModel)]="period.Duration.Unit" (ngModelChange)="update()" name="period-durationUnit">
      <mat-option [value]="0">{{ '@global-none' | translate }}</mat-option>
      <mat-option [value]="3">{{ '@global-hours' | translate }}</mat-option>
      <mat-option [value]="4">{{ '@global-days' | translate }}</mat-option>
      <mat-option [value]="5">{{ '@global-weeks' | translate }}</mat-option>
      <mat-option [value]="6">{{ '@global-months' | translate }}</mat-option>
      <mat-option [value]="7">{{ '@global-years' | translate }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- Sample -->
  <thy-form-field-select label="@global-sampling" [(value)]="period.SampleDuration.Unit" [options]="durationOptions" (valueChange)="update()" name="period-sampleUnit"></thy-form-field-select>
  <!-- <mat-form-field class="ui-g-12">
    <mat-select placeholder="{{ '@global-sampling' | translate }}" [(ngModel)]="period.SampleDuration.Unit" (ngModelChange)="update()" name="period-sampleUnit">
      <mat-option [value]="0">{{ '@sampling-none' | translate }}</mat-option>
      <mat-option [value]="3">{{ '@global-hours' | translate }}</mat-option>
      <mat-option [value]="4">{{ '@global-days' | translate }}</mat-option>
      <mat-option [value]="5">{{ '@global-weeks' | translate }}</mat-option>
      <mat-option [value]="6">{{ '@global-months' | translate }}</mat-option>
      <mat-option [value]="7">{{ '@global-years' | translate }}</mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- Period Equivalent -->
  <mat-checkbox class="ui-g-12" [(ngModel)]="period.IsEquivalentPeriod" (ngModelChange)="update()" name="equivalent-period"> {{ '@period-equivalentToCurrent' | translate }} </mat-checkbox>
  <!-- Exemple -->
  <span class="ui-g-6 group-title">{{ '@global-startDate' | translate }} : {{ period.StartDateStr }}</span>
  <span class="ui-g-6 group-title">{{ '@global-endDate' | translate }} : {{ period.EndDateStr }}</span>

</thy-dialogs-layout>