
// Mat List

.thy-list {
    padding-top: 0px !important;
    display: unset !important;
}

.thy-list-item {
    height: 25px !important;
}

.thy-list-h4 {
    font-size: 12px !important;
}

.thy-list-info {
    font-size: 11px !important;
}

.thy-list-icon {
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
    font-size: 18px !important;
    color: #444;
}

.thy-list-button-suffix {
    height: 24px !important;
    width: 24px !important;
    line-height: 18px !important;
}

.thy-list-icon-suffix {
    height: 18px !important;
    width: 18px !important;
    line-height: 18px !important;
    font-size: 18px !important;
    color: #444;
}