.body-container {
    height: calc(100%) !important;
}

.table-container {
    overflow-x: auto;
    overflow-y: auto;
    height: calc(100% - 50px);
    width: 100%;
    padding: 0;
}

table {
    width: 100%;
}

:host {
    display:flex;
    flex-direction: column;
    height: 100%;
}

mat-dialog-content {
    max-height: 89% !important;
    flex-grow: 1;
}

.content {
    height: calc(100%) !important;
}

#perarea {
    margin-top: 18px;
}

