<app-thy-dialogs-layout [title]="'@global-source'" [subtitle]="reference" (validate)="validate()" (close)="close()">

  <app-thy-form-field-select [class]="'ui-g-3'" [label]="'@global-source'" [(value)]="selectionType" [focused]="true" [options]="types" (valueChange)="onLoadDataType()"></app-thy-form-field-select>

  <app-thy-form-field-input [class]="'ui-g-3'" [label]="'@global-search'" (inputChange)="applyFilter($event)"></app-thy-form-field-input>

  <app-thy-form-field-autocomplete *ngIf="selectionType === 1 || selectionType === 3"
    [class]="'ui-g-3'"
    [label]="'@global-nature'"
    [formController]="naturesFormControl"
    [property]="'Name'"
    [list]="natures"
    (valueChange)="onUpdateReference()"
    name="nature">
  </app-thy-form-field-autocomplete>

  <app-thy-form-field-select *ngIf="selectionType === 0 || selectionType === 1 || selectionType === 3"
    [class]="'ui-g-3'"
    [label]="'@global-conversion'"
    [(value)]="selectionConvertionFunction"
    [options]="convertionOptions"
    (valueChange)="onUpdateReference()"
    name="convertion">
  </app-thy-form-field-select>

  <app-thy-form-field-select *ngIf="selectionType === 9"
    [class]="'ui-g-3'"
    [label]="'@global-functions'"
    [(value)]="selectionConvertionFunction"
    [options]="functionOptions"
    (valueChange)="onUpdateReference()"
    name="function">
  </app-thy-form-field-select>

  <app-thy-form-field-select *ngIf="selectionType === 0 || selectionType === 1 || selectionType === 3"
    [class]="'ui-g-3'"
    [label]="'@global-period'"
    [(value)]="selectionPeriod"
    [options]="periodOptions"
    (valueChange)="onUpdateReference()"
    name="period">
  </app-thy-form-field-select>

  <mat-checkbox *ngIf="selectionType === 0 || selectionType === 1 || selectionType === 3" id="perarea" class="ui-g-3" [(ngModel)]="isPerArea" (change)="onUpdateReference()" name="perArea">
    {{ '@global-perUnitOfArea' | translate }}
  </mat-checkbox>

  <div class="table-container mat-elevation-z1" >
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> {{ '@global-name' | translate }} </th>
          <td mat-cell *matCellDef="let element" class="mat-cell-fixed-500" [ngStyle]="(element?.Children && element?.Children?.length > 0 && checked) ? { 'padding-left': '0px' } : {}">
            <div [hidden]="!checked" style="display: inline-flex">
              <div *ngFor="let item of levelArray(element.level - 1)" style="width: 25px;"></div>
            </div>
            <mat-icon class="material-table-icon" [hidden]="!checked || !element.Children || element.Children.length === 0" (click)="onExpand($event, element)">
              {{ element.expanded ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
            &nbsp;
            <div class="mat-cell-text-inline" [title]="element.Name">{{ element.Name }} </div>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;" [hidden]="checked && row.isHidden" [ngClass]="row.selected ? 'material-row-selected' : 'material-row'" (click)="onSelection($event, row)"></tr>
  </table>
</div>

</app-thy-dialogs-layout>
