<!-- List -->
<thy-fieldset [style]="styleFieldset" [class]="classFieldset" [label]="title" [action]="action" [actionMenu]="actionMenu" (clickAction)="onAdd()">

    <ng-container *ngIf="showHeader">

        <div *ngIf="hasIcon" class="ui-g-1"></div>

        <div #header [ngClass]="{ 'ui-g-9': hasIcon, 'ui-g-10': !hasIcon }"><ng-content select="[header]"></ng-content></div>

        <div class="ui-g-2"></div>

        <mat-divider class="ui-g-12"></mat-divider>
    </ng-container>

    <mat-list class="list ui-g-12" [ngStyle]="style">
        <mat-list-item *ngFor="let item of list" class="ui-g-12 list-item" [style.cursor]="selectable ? 'pointer' : ''" [ngClass]="{'list-item-selected': selectable && item.selected, 'list-item-disabled' : item.disabled}" (click)="onSelection($event, item)">

            <div *ngIf="item.icon" class="ui-g-1">
                <mat-icon mat-list-icon class="ui-g-2 list-icon">{{ item.icon }}</mat-icon>
            </div>
            
            <div class="ui-g-10">
                <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
            </div>

            <div class="ui-g-2">
                <button mat-icon-button *ngIf="editable && item.editing" class="list-button-suffix" (click)="onValid(item)"><mat-icon class="list-icon-suffix">check</mat-icon></button>
                <button mat-icon-button *ngIf="editable && item.editing" class="list-button-suffix" (click)="onCancel(item)"><mat-icon class="list-icon-suffix">cancel</mat-icon></button>
                <button mat-icon-button *ngIf="editable && !item.editing" class="list-button-suffix" (click)="onEdit(item)"><mat-icon class="list-icon-suffix">edit</mat-icon></button>
                <button mat-icon-button *ngIf="editable && !item.editing" class="list-button-suffix" (click)="onDelete(item)"><mat-icon class="list-icon-suffix">delete</mat-icon></button>
            </div>
        </mat-list-item>
    </mat-list>
</thy-fieldset>

<!-- Exemple [editAsDialog]="true"
=================================================
<thy-list-custom [title]="'@global-trends'" [(list)]="vm.TrendsView" [viewModel]="vm.TrendClass" [editAsDialog]="true" (add)="onEditTrend($event)" (edit)="onEditTrend($event)" name="trends">

    <ng-template let-item>

        <span mat-line class="ui-g-4 thy-list-item-text" title="{{ item.reference }}">{{ item.reference }}</span>
        <span mat-line class="ui-g-3 thy-list-item-text" title="{{ item.label }}">{{ item.label }}</span>
        <span mat-line class="ui-g-1 thy-list-item-text" style="height: 17px;"><mat-icon class="thy-list-item-icon" [style.color]="item.color | thyFormatColor">fiber_manual_record</mat-icon></span>
        <span mat-line class="ui-g-2 thy-list-item-text">{{ item.axis }}</span>
        <span mat-line class="ui-g-2 thy-list-item-text">{{ item.graphType }}</span>

    </ng-template>

</thy-list-custom>
-->

<!-- Exemple [editAsDialog]="false"
=================================================
<thy-list-custom #list [title]="'@tariff-adjustment'" [(list)]="vm.Tariffs" [viewModel]="vm.TariffClass" [showHeader]="true" name="tarrifs">

    <ng-container header>

        <span class="ui-g-6" mat-line>{{ '@global-nature' | translate }}</span>
        <span class="ui-g-6" mat-line>{{ '@global-coefficient' | translate }}</span>

    </ng-container>

    <ng-template let-item>

        <ng-container *ngIf="!item.editing">

            <span mat-line class="ui-g-6">{{ item.natureForm.value?.name }}</span>
            <span mat-line class="ui-g-6">{{ item.coeff }}</span>

        </ng-container>

        <ng-container *ngIf="item.editing">
            
            <thy-form-field-autocomplete-tree [class]="'ui-g-6'" [label]="'@global-nature'" [formController]="item.natureForm" [list]="natures" [noFormField]="true"></thy-form-field-autocomplete-tree>

            <thy-form-field-input [class]="'ui-g-6'" [label]="'@global-coefficient'" [(value)]="item.coeff" [type]="'number'" [noFormField]="true"></thy-form-field-input>

        </ng-container>

    </ng-template>

</thy-list-custom>
-->
