<mat-form-field *ngIf="!noFormField" [ngClass]="getClasses()" [ngStyle]="style" appearance="outline" [color]="color">
    <mat-label>{{ label | translate }} {{ labelDetails | translate }}</mat-label>
    <!-- Inupt Value -->
    <input matInput #trigger
      [(ngModel)]="value"
      (ngModelChange)="onValueChange()"
      [matAutocomplete]="auto"
      [disabled]="disabled"
      [required]="required"
      (input)="onInputChange($event.target.value)"
      [name]="name"
      [type]="type"
      autocomplete="off">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" (optionSelected)="valueChange.emit($event.option.value)">
        <!-- <cdk-virtual-scroll-viewport class="example-viewport" itemSize="25">
            <mat-option *cdkVirtualFor="let model of list" class="example-item" [value]="model">
                {{ this.displayWith(model) }}
            </mat-option>
        </cdk-virtual-scroll-viewport> -->
        <mat-option *ngFor="let model of list" [value]="model">
            {{ this.displayWith(model) }}
        </mat-option>
    </mat-autocomplete>
    <!-- Suffix -->
    <button mat-button *ngIf="suffix" matSuffix mat-icon-button class="thy-suffix-button" (click)="onSuffix($event)">
      <mat-icon class="thy-suffix-icon">{{ suffix }}</mat-icon>
    </button>
    <!-- Suffix sec -->
    <button *ngIf="suffixSec && !suffixMenu && showSuffixSec" mat-button matSuffix mat-icon-button class="thy-suffix-button" (click)="onSuffixSec($event)">
      <mat-icon class="thy-suffix-icon">{{ suffixSec }}</mat-icon>
    </button>
    <!-- Dropdown arrow -->
    <button mat-button matSuffix mat-icon-button class="thy-suffix-button" (click)="onDropdown()">
      <mat-icon class="thy-suffix-icon">arrow_drop_down</mat-icon>
    </button>
    <!-- Delete Button -->
    <button mat-button matSuffix mat-icon-button *ngIf="value" [disabled]="disabled" class="thy-suffix-button" (click)="onDelete()">
      <mat-icon class="thy-suffix-icon">close</mat-icon>
    </button>
  </mat-form-field>